// Thin
$font-thin: 100;
$font-thini: 100i;

// Extra light
$font-elight: 200;
$font-elighti: 200i;

// Light
$font-light: 300;
$font-lighti: 300i;

// Regular
$font-regular: 400;
$font-regulari: 400i;

// Medium
$font-medium: 500;
$font-mediumi: 500i;

// Semi bold
$font-sbold: 600;
$font-sboldi: 600i;

// Bold
$font-bold: 700;
$font-boldi: 700i;

// Extra bold
$font-ebold: 800;
$font-eboldi: 800i;

// Black
$font-black: 900;
$font-blacki: 900i;