h1{
  margin: -10px 0 -18px -3px!important;
}

h2{
  margin: -7px 0 -16px -3px!important;
}

h3{
   margin: -5px 0 -13px -2px !important;
}

h4{
  margin: -5px 0 -11px -2px !important;
}

h5{
  margin: -5px 0 -10px -2px !important;
}

h6{
  margin: -3px 0 -8px -1px !important;
}

p{
  margin: -5px 0 -12px -1px !important;
}