// Body background
body{
  background-color: $white;
}

// Colors
$color1: $t1color1;
$color2: $t1color2;
$color3: $t1color3;
$color4: $t1color4;

// Typography
h1, h2, h3, h4, h5, h6, p, a, span{
  color: #4D4D4E;
}




