// Body background
body{
  background-color: $white;
}

// Colors
$color1: $t2color1;
$color2: $t2color2;
$color3: $t2color3;
$color4: $t2color4;

// Typography
h1, h2, h3, h4, h5, h6, p, a, span{
  color: $white;
}




