/*
 |--------------------------------------------------------------------------
 |
 | ALL STYLES
 |
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | All CDN Links
 |--------------------------------------------------------------------------
 */
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);
/*
 |--------------------------------------------------------------------------
 | All Includes
 |--------------------------------------------------------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800);
.header h1 {
  color: green; }

.footer h1 {
  color: blue; }

/*
 |--------------------------------------------------------------------------
 | All Pages
 |--------------------------------------------------------------------------
 */
.home h1 {
  color: red; }

body {
  font-family: "raleway", sans-serif; }

/*
 |--------------------------------------------------------------------------
 | All Utilities
 |--------------------------------------------------------------------------
 */
h1 {
  margin: -10px 0 -18px -3px !important; }

h2 {
  margin: -7px 0 -16px -3px !important; }

h3 {
  margin: -5px 0 -13px -2px !important; }

h4 {
  margin: -5px 0 -11px -2px !important; }

h5 {
  margin: -5px 0 -10px -2px !important; }

h6 {
  margin: -3px 0 -8px -1px !important; }

p {
  margin: -5px 0 -12px -1px !important; }

/*
 |--------------------------------------------------------------------------
 | All Fonts
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | All Help files
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | All Sizes
 |--------------------------------------------------------------------------
 */
/*
|--------------------------------------------------------------------------
| Mobile S
|--------------------------------------------------------------------------
*/
/*
 |--------------------------------------------------------------------------
 | Mobile M
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Mobile L
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Tablet
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Laptop
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Laptop L
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Screen
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | 4K
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | All Sizes
 |--------------------------------------------------------------------------
 */
/*
|--------------------------------------------------------------------------
| Mobile S
|--------------------------------------------------------------------------
*/
/*
 |--------------------------------------------------------------------------
 | Mobile M
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Mobile L
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Tablet
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Laptop
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Laptop L
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | Screen
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 | 4K
 |--------------------------------------------------------------------------
 */

/*# sourceMappingURL=styles.css.map */
