// Blues
$blueS: #3da7ff;
$blueL: #3a6bbe;
$blue: #294a82;
$blueD: #1e254b;

// Indigos
$indigoS: #7b91ff;
$indigoL: #6068be;
$indigo: #424282;
$indigoD: #25254b;

// Purples
$purpleS: #a96dff;
$purpleL: #735fbe;
$purple: #553982;
$purpleD: #341e4b;

// Pinks
$pinkS: #ff70a1;
$pinkL: #be5c74;
$pink: #823851;
$pinkD: #4b252b;

// Reds
$redS: #ff3a33;
$redL: #be322e;
$red: #822220;
$redD: #4b1515;

// Oranges
$orangeS: #ff9f41;
$orangeL: #be6f33;
$orange: #825321;
$orangeD: #4b2f11;

// Yellows
$yellowS: #ffed4a;
$yellowL: #beac3d;
$yellow: #82742f;
$yellowD: #4b3f21;

// Greens
$greenS: #49ff9a;
$greenL: #39be6d;
$green: #268248;
$greenD: #1a4b27;

// Teals
$tealS: #66fff3;
$tealL: #4dbeb3;
$teal: #388277;
$tealD: #1c4b42;

// Cyans
$cyanS: #76c2ff;
$cyanL: #5f8abe;
$cyan: #3d5882;
$cyanD: #24374b;